<header class= "bg-amber-600 relative overflow-hidden">
  <app-ambient-glow></app-ambient-glow>

  <div class="max-w-6xl mx-auto px-6 py-4 relative">
    <div class="flex items-center justify-between">
      <button
        (click)="navigateHome()"
        class="text-3xl text-gray-100 cursor-pointer"
        style="font-family: 'Molle', cursive; font-style: italic;"
      >
        {{ title }}
      </button>
      <div class="flex items-center gap-2">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</header>
