@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bounce-smooth {
  0%   { transform: translateY(0);     animation-timing-function: cubic-bezier(0, 0, 0.2, 1); }
  50%  { transform: translateY(-25%);  animation-timing-function: cubic-bezier(0.8, 0, 1, 1); }
  100% { transform: translateY(0); }
}

@layer utilities {
  .animate-bounce-smooth {
    animation: bounce-smooth 1s infinite;
  }
}
